<!-- about -->
<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 mx-auto text-center">
        <p class="font-secondary paragraph-lg text-dark">
          군에서 틈틈히 자바스크립트 언어 학습 등의 웹 관련 공부를 했고, <br />
          6월달에 전역한 후부터 본격적으로 웹 개발에 대한 학습을 시작했습니다.
          <br />
          저는 검색 등의 방법을 통해
          <span style="font-weight: bold; background-color: #d4f6cc; padding: 5px;"
            >새로운 것을 빠르게 습득</span
          >하며, <br />
          <span style="font-weight: bold; background-color: #F5F0BB; padding: 5px;">끈기있게 문제를 해결</span>해낼 수
          있는 <span style="font-weight: bold; padding: 5px; background-color: #D6EFED">개발자</span> 입니다.
        </p>
        <!-- <a href="{{ site.data.settings.blurb-btn-link }}" class="btn btn-transparent">{{ site.data.settings.blurb-btn-name }}</a> -->
      </div>
    </div>
  </div>
</section>
<!-- /about -->
